@page 
@model Teams.IndexModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <section class="grid">
        <div class="jumbotron p-2 d-flex justify-content-between">
            <h2 class="display-3">
                <img src="/image/nfl/nfl.png" />
                Teams 2019-2020
            </h2>
            <form class="d-flex">
                <div class="form-group pr-2">
                    <label class="col-form-label" asp-for="FavoriteTeam">Favorite:</label>
                    <select class="form-control" asp-for="FavoriteTeam" asp-items="@Model.TeamOptions" onchange="this.form.submit();"></select>
                </div>
            </form>
        </div>
        @foreach (Conference conf in Model.Conference)
        {
            <h4>@conf.Name</h4>
            @foreach (Division divis in Model.Division)
            {
                if (divis.Conference == conf)
                {
                    <h5 class="bg-primary p-1 text-white">@divis.Name</h5>
                    @foreach (Team team in Model.Team)
                    {
                        if (team.Division == divis)
                        {
                            if (team.TeamId == Model.FavoriteTeam)
                            {
                                <a class="d-flex p1 goldBack" asp-page="./Team" asp-route-TeamId="@team.TeamId">
                                    <div style="flex: 0 0 25%">@team.Location</div>
                                    <div style="flex: 0 0 25%">@team.Name</div>
                                    <div style="flex: 0 0 5%">@team.Win</div>
                                    <div style="flex: 0 0 5%">@team.Loss</div>
                                    <div style="flex: 0 0 5%">@team.Tie</div>
                                </a>
                            }
                            else
                            {
                                <a class="d-flex p1" asp-page="./Team" asp-route-TeamId="@team.TeamId">
                                    <div style="flex: 0 0 25%">@team.Location</div>
                                    <div style="flex: 0 0 25%">@team.Name</div>
                                    <div style="flex: 0 0 5%">@team.Win</div>
                                    <div style="flex: 0 0 5%">@team.Loss</div>
                                    <div style="flex: 0 0 5%">@team.Tie</div>
                                </a>
                            }

                        }
                    }
                }
            }
        }
    </section>
</body>
</html>

