@page "{TeamId}"
@model Teams.TeamModel
@{
}

<div class="jumbotron p-2">
    <h1 class="display-4">
        <img src=@Model.PhotoLocation />
        @Model.SelectedTeam.Location @Model.SelectedTeam.Name
    </h1>
</div>

<div class="d-flex justify-content-between pb-2">
    <div>
        <div>
            @Model.SelectedTeam.Division.ConferenceId - @Model.SelectedTeam.DivisionId
        </div>
        <div>
            Record: @Model.SelectedTeam.Win-@Model.SelectedTeam.Loss-@Model.SelectedTeam.Tie
        </div>
        <hr />
        <div>
            @Model.SelectedTeam.Stadium Stadium
        </div>
        <div>
            Capacity: @Model.SelectedTeam.Capacity
        </div>
        <hr />
        <div>
            @Model.SelectedTeam.Address
        </div>
        <div>
            @Model.SelectedTeam.City, @Model.SelectedTeam.State @Model.SelectedTeam.Zip
        </div>
        <img src=@Model.StadiumLocation />
    </div>
    <img src=@Model.Seating />
</div>

<section class="grid container">
    <div class="d-flex bg-primary text-white">
        <div class="p-1" style="flex:0 0 10%">
            Number
        </div>
        <div class="p-1" style="flex:0 0 25%">
            Name
        </div>
        <div class="p-1" style="flex:0 0 10%">
            Position
        </div>
        <div class="p-1" style="flex:0 0 20%">
            Experience
        </div>
        <div class="p-1" style="flex:0 0 25%">
            College
        </div>
        <div class="p-1" style="flex:0 0 10%">
            Depth
        </div>
    </div>
    @foreach(Player player in Model.SelectedTeam.Players)
    {
        <a class="d-flex starter" asp-page="/Players/Player" asp-route-PlayerId="@player.PlayerId">
            <div class="p-1" style="flex:0 0 10%">
                @player.Number
            </div>
            <div class="p-1" style="flex:0 0 25%">
                @player.Name
            </div>
            <div class="p-1" style="flex:0 0 10%">
                @player.Position
            </div>
            <div class="p-1" style="flex:0 0 20%">
                @player.Experience
            </div>
            <div class="p-1" style="flex:0 0 25%">
                @player.College
            </div>
            <div class="p-1" style="flex:0 0 10%">
                @player.Depth
            </div>
        </a>
    }
</section>
